<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>

    <ion-searchbar [(ngModel)]="search"></ion-searchbar>
    <ion-button (click)="onSearch()">go</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-item-sliding *ngFor="let concert of concertList">

      <ion-item>
        <ion-label>
          {{ concert.bandName }}
          <p>
            {{ concert.location.name }} à
            {{ concert.location.city }}
          </p>
        </ion-label>
        <ion-chip slot="end">
          {{ concert.concertDate | date: 'd/MM/Y'}}
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-button routerLink="/form/{{ concert.id }}">modifier</ion-button>
        <ion-button color="danger" (click)="deleteConcert(concert.id)">Supprimer</ion-button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-padding">
    <ion-button expand="block" routerLink="/form">
      Nouveau concert
    </ion-button>
  </ion-toolbar>
</ion-footer>
